/*
ALL COLOURS USED
rgb(0, 0, 0); general:BLACK
rgb(255, 255, 255); general:WHITE
rgb(0, 204, 102); thematic:GREEN
rgb(0, 153, 77); btn-hover:DIM GREEN
rgb(128, 128, 128); module-b.g.:GREY
rgb(64, 64, 64); website-b.g.:DARK GREY
rgb(232, 238, 239); inputbox-b.g.:OFF WHITE
rgb(210, 217, 221); inputbox-focus:LIGHT GREY
rgb(205, 127, 50); packages:BRONZE
rgb(192, 192, 192); packages:SILVER
rgb(218, 165, 32); packages:GOLD
rgb(26, 26, 26); FAQsaccordion-border
rgb(38, 38, 38); FAQsaccordion-b.g
rgb(51, 51, 51); FAQsaccordion-hover
*/


/* Comments Module */

.container {
    width: 97%;
    min-width: 500px;
    max-height: 1000px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 10px auto;
    border-radius: 10px;
    overflow-y: scroll;
}


/* Entire Table */

table {
    width: 100%;
    table-layout: fixed;
}


/* Header cells */

th {
    font-size: 20px;
}


/* Header cell widths */

.th-1 {
    width: 13%;
}

.th-2 {
    width: 12%;
}

.th-3 {
    width: 70%;
}

.th-4 {
    width: 5%;
}


/* Standard cells */

td {
    border-top: thin solid;
    word-wrap: break-word;
}


/* Input cells */

td.inputcell {
    vertical-align: top;
    height: 20px;
}


/* Rows */

tr {
    font-size: 18px;
    text-align: left;
    width: 100%;
    white-space: pre-line;
}


/* Wrong input alert colour */

.alert {
    color: rgb(0, 204, 102);
}


/* Make comment cell scrollable */

.scrollable {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Input Boxes (name & comment) */

.form-control {
    background: rgb(232, 238, 239);
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    border-radius: 4px;
    width: 90%;
    height: 23px;
}


/* Set background colour for input boxes */

.form-control:focus {
    background: rgb(210, 217, 221);
}


/* Format 'Post' button */

.btn {
    background: rgb(0, 204, 102);
    border: 0;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 18px;
    outline: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Set hover colour for button */

.btn:hover {
    background: rgb(0, 153, 77);
}