/*
Colour Scheme:
** #00BFFF DEEPSKYBLUE
** #98FB98 PALEGREEN
** #FFFFFF WHITE
** #9ACD32 YELLOWGREEN
** #808080 GREY
*/

* {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
}

html,body{
    height:100%;
    margin:0;
    padding:0;
    border:0;
}

body{
  /*background: #FFFFFF;*/
  /* Need to resize / use an SVG */
  background-image: url(images/zinc-fitness-nutrition.png);
}

header{
  background-color:rgba(0,0,0,0.5);
  height: 200px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

nav{
  /* Want to keep text opaque */
  /*opacity: 0.5;*/
  background: #9ACD32;
  border-style: solid;
  border-color: #9ACD32;
  border-left-style: none;
  border-right-style: none;
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

nav a{
  opacity: 1.0;
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}

a:hover {
  color: #808080;
}

a.current{
   color: #808080;
}

main{
  height: 1000px; /* Only hard coded for now so we have scrolling room to show sticky anv bar. */
}

footer{

}
