/*
Colour Scheme:
** #FFFFFF rgb(255, 255, 255)   White
** #000000 rgb(0, 0, 0)         Black
** #00cc66 rgb(0, 204, 102)     Turquiose
** #404040 rgb(64, 64, 64)      Dark grey
** #ffd700 rgb(255, 215, 0)     Gold
** #c0c0c0 rgb(192, 192, 192)   Silver
** #CD7F32 rgb(205, 127, 50)    Bronze
*/

/*-------------------*/
/*     ALL PAGES     */
/*-------------------*/
* {
  color: #FFFFFF;
  font-family: 'Muli', sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
}

html,body{
    height:100%;
    margin:0;
    padding:0;
    border:0;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

body{
  background-color: #FFF;
  /*background-image: url(images/blue-equipment-wallpaper_translucent.png);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right bottom;
}

header{
  padding: 20px;
  background-color:rgba(64, 64, 64,0.5);
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

main{
  display: block;
  overflow: auto;
  padding: 20px;
  padding-bottom:100px; /* Height of the footer element */
  width: 80%;
  margin: auto;
}

footer{
    height: 30px;
    line-height: 30px;
    padding: 5px;
    text-align: right;
    background-color:rgba(64, 64, 64,0.5);
}

.social_media_icons {
    float: left;
    width: 100%
}

.social_media{
    /*pointer-events: none;*/
    padding: 10px;
    width: 60px;
}

h1 {
    font-weight: bold;
    text-decoration: underline;
}

p {
    font-size: 25px;
    text-align: left;
}

li {
    text-align: left;
}

/*--------------------*/
/*     INDEX PAGE     */
/*--------------------*/
.about {
    width: 100%;
}

.squat {
    width: 35%;
    min-width: 200px;
    float: left;
    margin-right: 20px;
}

.qual_skills {
    width: 70%;
    margin: auto;
}

.qualifications {
    width: 45%;
    float: left;
}

.specialities {
    width: 45%;
    float: right;
}


/*---------------------*/
/*     PTRAIN PAGE     */
/*---------------------*/
.packages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.gold {
    width: auto;;
    height: auto;
    margin: 5px;
    border-radius: 10%;
    padding: 20px;
    background-color: gold;
}

.silver {
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 10%;
    padding: 20px;
    background-color: silver;
}

.bronze {
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 10%;
    padding: 20px;
    background-color: #CD7F32;
}



/*-------------------*/
/*     NUTRITION     */
/*-------------------*/
.instafeed {
    width: 150px;
    margin: auto;
}


/*-------------------*/
/*     CONTACT     */
/*-------------------*/
.contact_form {
    float:right;
}

#gmap_canvas img {
    max-width:none!important;
    background:none!important;
}
